* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.carousel {
      width: 90%; /* Responsive width */
      max-width: 1200px; /* Optional max width */
      aspect-ratio: 2 / .85; /* Maintain 3:2 ratio */
      overflow: hidden;
      border: 5px solid #fff;
      border-radius: 50px;
      position: relative;
    }

    .carousel-track {
      display: flex;
      width: 300%; /* 100% * number of images */
      height: 100%;
      animation: slide 19s infinite steps(3);
    }

    .carousel img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      flex: 1 0 100%; /* Each image takes 100% of the carousel width */
    }

    @keyframes slide {
      0% { transform: translateX(0); }
      33.333% { transform: translateX(-100%); }
      66.666% { transform: translateX(-200%); }
      100% { transform: translateX(0); }
    }
header {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
}
header h2 {
  padding: 1rem;
}
#logo {
  text-decoration: none;
  color: black;
}
.search-form {
  padding: 1rem;
  display: flex;
}
.search-form input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border: 2px solid rgb(74, 68, 131);
}
.search-form button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: rgb(74, 68, 131);
  color: white;
  cursor: pointer;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 0.5rem 0rem;
}
.gallery-info a {
  color: gray;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: auto;
  row-gap: 5rem;
  column-gap: 3rem;
  padding-inline: .5rem;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more {
  padding: 1rem 3rem;
  background: rgb(74, 68, 131);
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
