* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  max-width: 1350px;
  margin-inline: auto;
}
.heroContent{
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}
h1{
  font-family: 'Clash Display', sans-serif;
  font-size: 8rem;
}
.carousel {
      width: 95%;
      aspect-ratio: 2 / .85;
      overflow: hidden;
      border: 5px solid #fff;
      border-radius: 10px;
      position: relative;
    }

    .carousel-track {
      display: flex;
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease-in-out;
    }

    .carousel img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      flex: 0 0 100%;
    }
header {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
}
header h2 {
  padding-top: 4rem;
}
#logo {
  text-decoration: none;
  color: black;
  margin-inline: auto;
  text-align: center;
}
#logo a{
  text-align: center;

}
.search-form {
  padding: 1rem;
  display: flex;
}
.search-form input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border: 2px solid rgb(74, 68, 131);
}
.search-form button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: rgb(74, 68, 131);
  color: white;
  cursor: pointer;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 0.5rem 0rem;
}
.gallery-info a {
  color: gray;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: auto;
  row-gap: 5rem;
  column-gap: 2rem;
  padding-inline: .5rem;
}

.gallery-img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more {
  padding: 1rem 3rem;
  background: rgb(74, 68, 131);
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
@media (max-width: 600px) {
  .carousel {
    width: 100%;
    aspect-ratio: 4 / 3; /* Or even 1 / 1 for square on mobile */
  }
}